@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4h5,
h6 {
    font-family: "Raleway", sans-serif;
}

.navbar {
    height: auto;
    border: 0;
    margin: 0;
    border-radius: 0;
    min-height: auto;
    background: #fff;
    padding: 15px 0;
    transition-duration: 0.3s;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    height: auto;
    padding: 0;
}

.navbar-nav > li > a {
    padding-top: 22px;
    padding-bottom: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #2a2a2a;
    text-transform: uppercase;
    font-size: 14px;
    transition-duration: 0.3s;
}

.navbar-default .navbar-nav > li.active > a {
    color: #911014 !important;
    background: none !important;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #911014;
    transition-duration: 0.3s;
}

.signupBtn {
    background: #911014;
    padding: 8px 30px !important;
    color: #fff !important;
    border-radius: 50px;
    transition-duration: 0.3s;
    margin-top: 13px;
}

.signupBtn:hover {
    background: #710d10 !important;
    transition-duration: 0.3s;
}

.banner {
    background: url(../images/banner.png) no-repeat;
    background-size: cover;
    padding: 100px 0 0;
    /*padding: 200px 0 100px;*/
}

.bannerPhone {
    text-align: right;
    position: relative;
    top: 60px;
}

.bannerInner {
    padding-top: 130px;
    /*padding-top: 0px;*/
}

.bannerInner h2 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}

.bannerInner span {
    display: block;
}

.bannerInner p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
}

.aboutUs {
    width: 100%;
    background: url(../images/aboutBg.png) no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 175px 0;
}

.heading {
    font-size: 40px;
    color: #911014;
    font-weight: 700;
    text-transform: uppercase;
}

.heading span {
    border-bottom: #911014 solid 2px;
}

.aboutUs p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 25px;
    color: #2a2a2a;
    font-weight: 300;
}

.howItWorks {
    width: 100%;
    background: #edf1f4;
    padding: 90px 0 0;
}

.sticky .navbar {
    padding: 5px 0;
    transition-duration: 0.3s;
}

.navbar-brand > img {
    width: 100%;
    transition-duration: 0.3s;
}

.sticky .navbar-brand > img {
    width: 70%;
    transition-duration: 0.3s;
}

.sticky .navbar-nav > li > a {
    padding-top: 14px;
    padding-bottom: 15px;
}

.sticky .signupBtn {
    margin-top: 5px;
}

.howItWorksText {
    margin-top: 50px;
}

.howItWorksText p {
    font-weight: 500;
    font-size: 16px;
    color: #000;
    width: 70%;
    margin: 0 auto;
}

.counter {
    background: url(../images/counterBg.png) no-repeat;
    padding: 100px 0;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

.counter h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.counter p {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.contact {
    padding: 100px 0;
    background: #fff;
    text-align: center;
}

.formArea {
    width: 40%;
    margin: 50px auto 0;
}

.formArea .form-control {
    border-radius: 15px;
    height: auto;
    padding: 13px 16px;
    font-size: 14px;
    color: #6d6d6d;
    border: #6d6d6d solid 1px;
}

.formArea textarea {
    resize: none;
}

.btnMain {
    border-radius: 15px;
    background: #911014;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 80px;
    transition-duration: 0.3s;
}

.btnMain:hover {
    background: #710d10 !important;
    transition-duration: 0.3s;
    color: #fff;
}

footer {
    background: #000000;
    padding: 50px 0;
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 14px;
}

footer p a {
    color: #fff;
}

footer p a:hover {
    color: #fff;
    text-decoration: none;
}

.footerSocial {
    text-align: right;
}

.footerSocial a {
    color: #fff;
    border-radius: 50px;
    border: #fff solid 1px;
    width: 29px;
    height: 29px;
    display: block;
    padding: 5px 0;
    text-align: center;
}

.footerSocial ul {
    margin: 0;
}

.howMobile {
    display: none;
}

.innerBanner {
    padding: 70px 0;
}

.innerBanner h3 {
    font-size: 50px;
    text-transform: uppercase;
}

.innerContent {
    margin-top: 80px;
}

.loginArea {
    padding: 70px 0 0;
}

.loginArea .heading {
    text-align: center;
}

.loginFormArea {
    width: 90%;
}

.forgotArea {
    margin-top: 30px;
}

.forgotArea a {
    color: #911014;
}

.registerArea {
    padding: 70px 0;
}

.formArea a {
    color: #911014;
}

/* New Pages CSS Start */

.packagesSection {
    padding: 100px 0;
}

.packageMain {
    border-radius: 30px;
    background: #fff;
    border: #ededed solid 1px;
    min-height: 340px;
}

.packageHeader {
    padding: 30px 0;
    background: #911014;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 71%);
}

.packageHeader input {
    width: 20px;
    height: 20px;
}

.packageHeader label {
    display: block;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.packageBody {
    padding: 20px 0;
}

.packageBody h3 {
    margin: 0;
    font-weight: 700;
    color: #911014;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
}

.packageBody h4 {
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    font-family: "Poppins", sans-serif;
}

.packageBody p {
    font-size: 14px;
    font-weight: 500;
    color: #911014;
    font-family: "Poppins", sans-serif;
    margin: 30px 0;
}

.packageBody a {
    display: block;
    width: 80%;
    font-size: 14px;
    margin: 20px auto;
    text-decoration: none;
}

.packageBody input {
    width: 80%;
    border: #ccc solid 1px;
    padding-left: 5px;
}

.packageBody .row {
    width: 90%;
    margin: 0 auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}

.packageBody span {
    font-size: 12px;
}

.packagesSection .btnMain {
    margin-top: 50px;
    border-radius: 50px;
}

.btnMain:active,
.btnMain:focus {
    color: #fff;
}

.packagePayment h3 {
    color: #911014;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.packagePayment h3 span {
    border-bottom: #911014 solid 2px;
}

.packagePayment table th {
    padding: 10px 10px;
    color: #2a2a2a;
    font-weight: 400;
}

.packagePayment table tr:nth-child(odd) {
    background: #f5f5f5;
}

.packagePayment table th span {
    color: #911014;
    font-weight: 600;
}

.packagePayment .btnMain {
    margin-top: 20px;
}

.packagePayment input {
    border-radius: 50px;
    padding: 10px 20px;
    height: auto;
}

.paymentForm button {
    margin: 0 !important;
}

/* New Pages CSS End */

.paymentForm #form-container .sq-input {
    border-radius: 50px;
    padding: 0 20px;
    height: 40px;
}
#form-container {
    width: 100% !important;
}
