@charset "utf-8";
@media screen and (max-width: 1005px)
{
	.bannerPhone img
	{
		width: 100%;
	}
	.bannerInner h2 {
    	font-size: 50px;
	}
	.bannerInner img
	{
		width: 100%;
	}
	.nav > li > a {
    	padding: 22px 10px;
	}
	.aboutUs {
    	padding: 100px 0;
	}
	.howImg img
	{
		width: 100%;
	}
	.howItWorksText {
    	margin-top: 15px;
	}
	.howItWorksText p {
    	width: 100%;
	}
	.formArea {
    	width: 60%;
		margin: 50px auto ;
	}
}
@media screen and (max-width: 850px)
{
	.navbar-brand > img {
    width: 90%;
	}
	.howItWorks {
    padding: 60px 0 0;
}
	.howItWorksText p {
    font-size: 14px;
}
	.counter {
    padding: 50px 0;
    }
	.counter h2 {
    font-size: 30px;
	}
	.counter p {
   font-size: 15px;
}
	.contact {
    padding: 50px 0;
}
	footer {
    padding: 30px 0;
}
}
@media screen and (max-width: 767px)
{
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: 0;
}	
	.bannerInner {
    padding-top: 50px;
    text-align: center;
}
.bannerInner img {
    width: 70%;
}
	.bannerPhone img {
    width: 30%;
}
	.bannerPhone {
    text-align: center;
    position: relative;
    top: 60px;
}
	.nav > li {
    text-align: center;
	}
	.nav > li > a {
    padding: 10px 10px;
}
	.sticky .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
}
	.aboutUs {
    padding: 80px 0;
    text-align: center;
}
	.howItWorksText {
    margin-top: 40px;
}
	.howMobile
	{
		display: block;
	}
	.howDesktop
	{
		display: none;
	}
	.howItWorks {
    padding: 30px 0 0;
}
	.howImg img {
    width: 50%;
    margin-top: 40px;
}
	.counter .col-md-4
	{
		margin-bottom: 20px;
	}
	.heading {
    font-size: 32px;
	}
	footer p
	{
		text-align: center;
	}
	.footerSocial
	{
		text-align: center;
		margin-top: 10px;
	}
}
@media screen and (max-width: 650px)
{
	.bannerInner h2 {
    font-size: 40px;
}
}
@media screen and (max-width: 450px)
{
	.aboutUs {
    background-position-x: 55% !important;
}
	.bannerInner img {
    width: 100%;
}
	.bannerPhone img {
    width: 50%;
}
	.formArea {
    width: 90%;
 }
}
@media screen and (max-width: 374px)
{
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    width: 75%;
}
	.sticky .navbar-toggle {
    margin-top: 2px;
	}
.bannerInner h2 {
    font-size: 30px;
}
	.bannerInner {
    padding-top: 30px;
}
	.bannerInner p {
    font-size: 14px;
    margin-bottom: 20px;
}
	.heading {
    font-size: 26px;
}
	.formArea {
    width: 100%;
		margin-bottom: 0;
}
}